$banner: rgb(77, 162, 201);
$gray: rgb(75, 75, 75);
$green: rgb(52, 255, 154);

$content_padding: 5% 20% 0% 20%;

// Minimal reset style :
* {
  padding: 0;
  margin: 0;
}

// Some tests :
.banner {
  background-color: $banner;
  padding: 3%;
}

h1 {
  color: $gray;
  text-align: center;

  &:hover {
    color: $green;
    cursor: pointer;
  }
}

.content {
  font-size: 1.2em;
  padding: $content_padding;
  text-align: justify;
}