{% extends 'projects/base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
        <h1>Formulaire de contact</h1>
    </div>
  </div>

    <h2>{{ user.get_full_name }}</h2>
        <ul>
          <li>{{ user.username }}</li>
          <li>{{ user.profile.phone }}</li>
          <li>{{ user.profile.linkedin }}</li>
          <li>{{ user.profile.github }}</li>
        </ul>

  <div class="container">
    <div class="row">
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn">Envoyer</button>
        </form>
    </div>
  </div>

{% endblock %}