{% extends 'projects/base.html' %}

{% block content %}
  <div class="container">
  <div class="row">
      <h1>Bienvenu sur mon portfolio</h1>
  </div>
  </div>

  <div class="container">
  <div class="row">
      <h2>{{ user.get_full_name }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur doloribus dolorum, ducimus earum ex
          expedita impedit magni maxime natus. Accusantium at culpa dolor eligendi molestiae quaerat sint sit velit.</p>
      <p>{{ user.profile.linkedin }}</p>
      <p>{{ user.profile.github }}</p>
  </div>

  </div>
  <div class="container">
  <div class="row">
      <h2>Mes projets</h2>
      <hr>

    {% for project in projects %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.excerpt}}</p>
            <a href="{% url 'details' project.id %}" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
      <hr>
    {% endfor %}
  </div>
  </div>
{% endblock %}
