
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>MYP - Make your portfolio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'projects/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'projects/css/style.css' %}">
</head>
<body>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="http://127.0.0.1:8000/projects">Projects</a>
      <a class="nav-item nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
    </div>
  </div>
</nav>

    {% for project in projects %}
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.excerpt}}</p>
            <a href="/" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
    <br>
    {% endfor %}
</body>
</html>