{% extends 'projects/base.html' %}

{% block content %}
{% load static %}
    {# Header #}
    <section class="header animate__animated animate__fadeInLeft">
        <img class="profil_picture" src="{% static 'projects/img/profile.jpg' %}"/>
            <span>
                <hr class='hr_title'>
            </span>
        <div >
            <h1 >{{ user.get_full_name }}</h1>
            <h3>développeur web et mobile</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tempor nibh. Sed et elementum mi. Etiam mattis faucibus mi et consequat. Vivamus at elementum diam. Nunc dignissim sodales purus ut egestas. Cras pulvinar mauris nec nisi pulvinar, et laoreet ligula cursus. Proin quis nulla ut leo consectetur posuere. Maecenas ac consequat sapien, quis rhoncus ipsum. Vivamus mattis iaculis volutpat. Duis euismod pharetra felis, id finibus arcu tempus vel. Nam vel semper libero. Pellentesque consequat viverra velit, vitae congue odio consectetur quis. Nunc venenatis neque nec leo laoreet semper. Phasellus rhoncus quam nec ex aliquam laoreet. Integer at diam bibendum, laoreet eros sed, consectetur lectus.</p>
        </div>
    </section>

    <div class="view_project">
        <span>voir les projets</span>
        <img  src="{% static 'projects/img/icon-arrow.png' %}"/>
    </div>
    {# WORK #}
    <section ><br> 
        <div class="titles title_work" 
             data-aos="fade-right" 
             data-aos-duration="1000"
             data-aos-easing="ease-in-sine">
            <hr class="project"/>
            <div class="title_h2">
                <h2>Work work work ...</h2>
            </div>       
        </div>
 
        <div class="all_projects">
            {% for project in projects %}
            {% if project.favoris is True %}
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.excerpt}}</p>
                    <a href="{% url 'details' project.id %}" class="btn btn-primary">En savoir plus</a>
                </div>
                </div>
            {% endif%}
            {% endfor %}
        </div>
    </section>

  <div class="container">
  <div class="row">
      <h2>Mes projets</h2>
      <hr>

      <div class="">
          <h2>{{project1.title}}</h2>
          <p>{{project1.excerpt}}</p>
          <a href="{% url 'details' project1.id %}" class="btn btn-primary">En savoir plus</a>
      </div>

      <div class="">
          <h2>{{project2.title}}</h2>
          <p>{{project2.excerpt}}</p>
          <a href="{% url 'details' project2.id %}" class="btn btn-primary">En savoir plus</a>
      </div>

      <div class="">
          <h2>{{project3.title}}</h2>
          <p>{{project3.excerpt}}</p>
          <a href="{% url 'details' project3.id %}" class="btn btn-primary">En savoir plus</a>
      </div>
  </div>
  </div>

{# Invitation page Contact #}
<section>
    <div class="titles title-contact"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine">
        <hr class=""/>
        <div class="title_h2">
            <h2>Ca vous à plus?</h2>
        </div>
    </div>
    <div class="intro_contact">
        <p >Ceci n'est que le début, j'ai encore pleins de chose à montrer. <br/>
        N'hésiter pas à aller voir ce qui se cache <a href="/project"><span>ici</span>?</a></p>
    </div>
</section>
{% endblock %}
