{% extends 'projects/base.html' %}

{% block content %}

<section>
    <div class="titles">
        <hr class=""/>
        <div class="title_h2">
            <h2>Mes projets</h2>
            <span>Mes projets</span>
        </div>
    </div>

    <div class="all_projects">

    {% for project in x %}
    <img class="" src="{{project.image.url}}" alt="">
        <div class="project_contents">
            <p class="projet_name">{{project.title}}</p>
            <p class="projet_description">{{project.excerpt}}</p>
            {% for tech in project.technology.all %}
                {% if forloop.first %}
                    <li>{{tech}}</li>
                {% endif %}
            {% endfor %} <br>
            <a href="{% url 'details' project.id %}" class="projet_linkPage">En savoir plus</a>
        </div>
    {% endfor %}
    </div>
</section>

{% if x.has_other_pages %}
  <ul class="pagination">
    {% if x.has_previous %}
      <li><a href="?page={{ x.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in x.paginator.page_range %}
      {% if x.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if x.has_next %}
      <li><a href="?page={{ x.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}